<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="5.0.505.0" />
  <package id="iTextSharp" version="5.2.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" />
  <package id="mongocsharpdriver" version="1.5" targetFramework="net45" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="PagedList" version="1.14" targetFramework="net45" />
  <package id="PagedList.Mvc" version="3.16" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Unity" version="2.1.505.0" />
  <package id="Unity.Interception" version="2.1.505.0" />
</packages>